/* Lists */

.slide ol,
.slide ul {
    padding-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    list-style: none;
    line-height: 1.2;
    counter-reset: list;
    font-family: 'Lora',sans-serif;
    font-weight: 400;
}
.slide li{
    margin-top: 17px;
    margin-bottom: 17px;
}
/* Marker */

.slide li::before {
    font-family: 'Lora',sans-serif;
    position: absolute;
    /* width:; */
    color: #222;
    text-align: right;
    transform: translateX(
        calc(-100% - 0.5em)
    );
}

.slide li ol,
.slide li ul {
    margin-bottom: 0;
    margin-left: 2em;
    margin-top: 0;
}

/* Markers */

.slide ol > li::before {
    counter-increment: list;
    content: counter(list) '.';
}

.slide ul > li::before {
    content: '•';
}

.slide ul > li:lang(ru)::before {
    content: '—';
}

/* Custom */

.slide ol > li[value]::before {
    content: attr(value) '.';
}

.slide ul > li[value]::before {
    content: attr(value);
}

.slide ol.links > li::before{
  content: " ";
}

.slide ol.links {
    margin-left: 0;
    line-height: 1.87571;
  }

.slide ol.links > li{
  line-height: 1.87571;
  margin: 0;
}