<section class="header">
	<div class="logo">
	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
</div>

<div class="description">
	<p>Какие-то строчки</p>
	<p>Какие-то строчки</p>
</div>
<div class="about">
	<a href="https://igor-alexandrov.github.io" target='_blank'><i class="fab fa-facebook-square fa-lg"></i> </a>
	<a href="https://igor-alexandrov.github.io" target='_blank'><i class="fab fa-github fa-lg"> </i></a>
	<a href="https://igor-alexandrov.github.io" target='_blank'><i class="fab fa-twitter fa-lg"></i></a>
</div>
</section>
