<header class="bg-white">
  <nav class="mx-auto flex max-w-6xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <a href="{{ site.baseurl || '/' }}" class="text-2xl font-bold">{{ site.name }}</a>

    <div class="flex flex-auto justify-end lg:gap-x-8">
      <div class="hidden lg:flex gap-x-8">
        {% for link in site.navigation %}
          <a href="{{ link.url }}" class="text-lg font-semibold text-gray-900">{{ link.text }}</a>
        {% endfor %}
      </div>
      <div class="flex">
        <button
          type="button"
          class="rounded-md text-gray-700"
          data-action="click->reveal#toggle"
        >
          <span class="sr-only">Open menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
        </button>
      </div>
    </div>
  </nav>
</header>
