<article class="excerpt">
  <header class="excerpt__header">
    <div class="meta">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
        {{ post.date | date: "%B %-d, %Y" }}
      </time>
    </div>
    <h3 class="excerpt__title">
      <a
        class="not-prose text-gray-900"
        href="{{ post.url | absolute_url }}"
        rel="bookmark"
        >{{ post.title }}</a
      >
    </h3>
  </header>

  {% if post.youtube_embed %}
  <div class="excerpt__content excerpt__content-video">
    <iframe
      class="aspect-[16/9] w-full lg:float-left lg:mr-8 lg:mt-2 lg:w-6/12"
      src="{{ post.youtube_embed }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>

    <p class="">{{ post.excerpt | strip_html }}</p>
  </div>
  {% else %}
  <div class="excerpt__content">
    <p>{{ post.excerpt | strip_html }}</p>
  </div>
  {% endif %}

  <div class="excerpt__tags tags">
    {% if post.tags.size > 0 %} {% for tag in post.tags %}
    <a
      class="tags__item"
      href="{{ site.baseurl }}/archive#{{ tag | cgi_escape }}"
      rel="tag"
      >{{ tag }}</a
    >
    {% endfor %} {% endif %}
  </div>
</article>
