<div class="public_speech">
  <header class="public_speech__header">
    <div class="meta">
      {% if public-speech.event_name %}
        <span>{{ public-speech.event_name }}</span>
      {% endif %}

      <time datetime="{{ public-speech.date | date: '%Y-%m-%d' }}">
        {{ public-speech.date | date: "%B %-d, %Y" }}
      </time>

      {% if public-speech.location %}
        <span>{{ public-speech.location }}</span>
      {% endif %}
    </div>

    <h3 class="public_speech__title">
      {{ public-speech.name }}
    </h2>
  </header>

  <div class="public_speech__content">
    {% if public-speech.youtube_embed %}
      <iframe
        class="aspect-[16/9] w-full"
        loading="lazy"
        src="{{ public-speech.youtube_embed }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    {% endif %}

    {% if public-speech.slideshare_embed %}
      <iframe
        class="aspect-[16/9] w-full"
        loading="lazy"
        src="{{ public-speech.slideshare_embed }}"
        title="Slideshare"
        frameborder="0"
        allowfullscreen
      ></iframe>

    {% endif %}

    {% if public-speech.transistor_embed %}
      <iframe
        class="aspect-[16/9] w-full"
        height="180"
        loading="lazy"
        frameborder="no"
        scrolling="no"
        seamless
        src="{{public-speech.transistor_embed}}"
      ></iframe>
    {% endif %}

    {% if public-speech.spotify_embed %}
      <iframe
        class="aspect-[16/9] w-full"
        loading="lazy"
        src="{{public-speech.spotify_embed}}"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    {% endif %}

    {% if public-speech.apple_podcasts_embed %}
      <iframe
        class="aspect-[16/9] w-full"
        allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
        frameborder="0"
        height="175"
        style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.podcasts.apple.com/us/podcast/bouldering-around-boulder/id1303792223?i=1000394194836&theme=auto"
      ></iframe>
    {% endif %}
  </div>
</div>
