<div data-action="click->slide-over#toggle" class="overlay"></div>
<div class="sidebar">
  <div class="h-full overflow-auto">
    <button
      type="button"
      class="btn-rounded fixed top-6 right-6"
      data-action="click->slide-over#toggle"
    >
      <span class="sr-only">Close dialog</span>
      <i data-lucide="x"></i>
    </button>

    <div class="sidebar-container">
      <nav class="sidebar-section lg:hidden">
        {% assign root = site.baseurl | append: '/' %}
        <div class="sidebar-section__header">
          <a href="{{ root }}">{{ site.title }}</a>
        </div>

        <ul
          class="sidebar-section__content sidebar-section__content-navigation"
        >
          {% for link in site.navigation %}
          <li class="menu-item">
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% include widgets.html %}
    </div>
  </div>
</div>
