<div class="hidden" data-reveal-target="item">
  <div
    data-action="click->reveal#toggle"
    class="absolute inset-0 w-full h-full bg-gray-600 opacity-75"
  ></div>
  <aside id="slideover" class="absolute w-96 h-full top-0 right-0 bg-green-400">
    <div>
      <div>
        <button
          data-action="click->reveal#toggle"
          id="sidebar-hide"
          class="sidebar-toggle btn-icon"
        >
          <span class="screen-reader-text">Close Sidebar</span
          ><span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
    </div>
  </aside>
</div>
