<div class="flex justify-center space-x-6 md:order-2">
  {% if site.twitter %}
    <a
      href="https://twitter.com/{{ site.twitter.username }}"
      class="p-2 rounded-full hover:bg-ruby-600 text-gray-400 hover:text-white"
      target="_blank"
      rel="noopener"
    >
      <span class="sr-only">X</span>
      <i data-lucide="twitter"></i>
    </a>
  {% endif %}

  {% if site.github %}
    <a
      href="https://github.com/{{ site.github }}"
      class="p-2 rounded-full hover:bg-ruby-600 text-gray-400 hover:text-white"
      target="_blank"
      rel="noopener"
    >
      <span class="sr-only">GitHub</span>
      <i data-lucide="github"></i>
    </a>
  {% endif %}

  {% if site.youtube %}
    <a
      href="https://youtube.com/{{ site.youtube }}"
      class="p-2 rounded-full hover:bg-ruby-600 text-gray-400 hover:text-white"
      target="_blank"
      rel="noopener"
    >
      <span class="sr-only">YouTube</span>
      <i data-lucide="youtube"></i>
    </a>
  {% endif %}

  {% if site.linkedin %}
    <a
      href="https://www.linkedin.com/in/{{ site.linkedin }}"
      class="p-2 rounded-full hover:bg-ruby-600 text-gray-400 hover:text-white"
      target="_blank"
      rel="noopener"
    >
      <span class="sr-only">LinkedIn</span>
      <i data-lucide="linkedin"></i>
    </a>
  {% endif %}
</div>
