<div class="speaking_opportunity">
  <header class="speaking_opportunity__header">
    <h2>
      {{ speaking-opportunity.name }}
    </h2>

    <div class="speaking_opportunity__meta">
      {% if speaking-opportunity.event_name %}
      <span class="featured-badge">{{ speaking-opportunity.event_name }}</span>
      / {% endif %}
      <time datetime="{{ speaking-opportunity.date | date: '%Y-%m-%d' }}"
        >{{ speaking-opportunity.date | date: "%B %-d, %Y" }}</time
      >
      {% if speaking-opportunity.location %} /
      <span>{{ speaking-opportunity.location }}</span>
      {% endif %}
    </div>
  </header>

  <div class="max-w-2xl">
    {% if speaking-opportunity.youtube_embed %}
      <iframe
        width="100%"
        height="400"
        src="{{ speaking-opportunity.youtube_embed }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    {% endif %}

    {% if speaking-opportunity.slideshare_embed %}
      <iframe
        width="100%"
        height="560"
        src="{{ speaking-opportunity.slideshare_embed }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    {% endif %}

    {% if speaking-opportunity.transistor_embed %}
      <iframe
        width="100%"
        height="180"
        frameborder="no"
        scrolling="no"
        seamless
        src="{{speaking-opportunity.transistor_embed}}"
      ></iframe>
    {% endif %}
  </div>
</div>
