{% if site.author.bio %}
  <section class="sidebar-section">
    <h2 class="sidebar-section__header">About</h2>
    <div class="sidebar-section__content sidebar-section__content-about">
      <p>{{ site.author.bio }}</p>
    </div>
  </section>
{% endif %}

<section class="sidebar-section">
  <h2 class="sidebar-section__header">Recent Articles</h2>
  <ul class="sidebar-section__content sidebar-section__content-recent">
    {% for post in site.posts limit:3 %}
    <li class="recent-article">
      <div class="recent-article__header">
        <div class="recent-article__meta">
          <time datetime="??">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div>

        <div class="recent-article__title">
          <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </div>
      </div>

      {% if post.featured_image_thumbnail %}
        <a class="post-thumbnail" href="{{ post.url }}">
          <img
            src="{% if post.featured_image_thumbnail contains ' :// ' %}{{ post.featured_image_thumbnail }}{% else %}{{ post.featured_image_thumbnail | absolute_url }}{% endif %}"
            alt="{{ post.title }}"
          />
        </a>
      {% elsif post.featured_image %}
        <a class="post-thumbnail" href="{{ post.url }}">
          <img
            src="{% if post.featured_image contains ' :// ' %}{{ post.featured_image }}{% else %}{{ post.featured_image | absolute_url }}{% endif %}"
            alt="{{ post.title }}"
          />
        </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

{% assign all_tags = '' | split: ',' %}

{% for post in site.posts %}
  {% for tags in post.tags %}
    {% for tag in tags %}
      {% assign all_tags = all_tags | push: tag %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% assign all_tags = all_tags | sort %}
{% assign all_tags = all_tags | uniq %}

<section class="sidebar-section">
  <h2 class="sidebar-section__header">Tags</h2>

  <div class="sidebar-section__content sidebar-section__content-tags tags">
    {% for tag in all_tags %}
      <a class="tags__item" href="{{ site.baseurl | prepend: '/' }}archive#{{ tag | uri_escape }}" rel="tag">{{ tag }}</a>
    {% endfor %}
  </div>
</section>
