.about{
  position: relative;
  top: -100px;
  left: 175px;
  @media (max-width: 600px) {
    top: 0;
    left: 0;
    margin-top: 10px;
  }

  a {
    margin: 6px;
    border-bottom: 0;
    color: #222;
  }
}

.description{
  position: relative;
  margin-left: 180px;
  top: -120px;
  line-height: 1.87571;

  P{
    margin: 0;
  }

  @media (max-width: 600px) {
    top: 0;
    margin-left: 0;
  }

}