.about{
  position: relative;
  top: -65px;
  left: 124px;

  a {
    margin: 6px;
    border-bottom: 0;
    color: #222;
  }


}

.description{
  position: relative;
  left: 130px;
  top: -80px;
  line-height: 1.87571;

  P{
    margin: 0;
  }
}