section {
  ol,ul {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  list-style: none;
  line-height: 1.87571;
  counter-reset: list;
  font-family: 'Lora',sans-serif;
  font-weight: 400;
}

/* Marker */

li::before {
  font-family: 'Lora',sans-serif;
  position: absolute;
  /* width:; */
  color: #222;
  text-align: right;
  transform: translateX(
      calc(-100% - 0.5em)
  );
}

li ol,
li ul {
  margin-bottom: 0;
  margin-left: 2em;
  margin-top: 0;
}

/* Markers */

ol > li::before {
  counter-increment: list;
  content: counter(list) '.';
}

ul > li::before {
  content: '-';
}

ul > li:lang(ru)::before {
  content: '—';
}

/* Custom */

ol > li[value]::before {
  content: attr(value) '.';
}

ul > li[value]::before {
  content: attr(value);
}

ol.links > li::before{
content: " ";
}
ol.links a{
border-bottom: 0;
font-size: 35px;
}

ol.links {
  margin-left: 0;
}

ol.links > li{
line-height: 1.87571;
}
}