/**
 * 5.2 Comments
 * ----------------------------------------------------------------------------
 */
.comments-area {
  margin: 0 0 1.66667em;
  position: relative;
}

.comments-title {
  color: var(--gray-dark);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0 0 2.14285em;
  text-transform: uppercase;
}

.comments-title:after {
  background-color: var(--color-accent);
  display: block;
  content: "";
  height: 1px;
  margin-top: 15px;
  width: 60px;
}

.comments-area.comments--loaded .comments-inside {
  height: 250px;
  overflow: hidden;
}

.comments-area.comments--opened .comments-inside {
  height: auto;
  overflow: auto;
}

.comments-area.comments--loaded .comments-overlay {
  display: block;
}

.comments-area.comments--opened .comments-overlay {
  display: none;
}
