<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include head-seo.html %}

    <!-- Site Favicon -->
    <link
      rel="shortcut icon"
      href="{{ site.url }}/{{ site.baseurl }}{{ site.favicon }}"
      type="image/png"
    />

    <!-- Font Embed Code -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    {% vite_client_tag %} {% vite_javascript_tag application %} {%
    vite_stylesheet_tag application %}
  </head>

  {% capture layout %} {% if page.layout %} layout-{{ page.layout }} {% endif %}
  {% endcapture %}

  <body data-controller="reveal" class="flex flex-col bg-white font-lato">
    {% if page.url == "/" %}
    <div class="hero-wrap">
      {% if site.cover_image %}
      <div
        class="hero-wrap-bg"
        style="background-image: url({{ site.baseurl }}/assets/images/{{ site.cover_image }})"
      ></div>
      {% endif %} {% include header.html %}

      <section class="hero outer fadeInDown delay_05s">
        <div class="inner">{% include author.html %}</div>
      </section>
    </div>
    {% else %} {% include header.html %} {% endif %} {{ content }} {% if
    paginator.total_posts > site.paginate %} {% endif %} {% include sidebar.html
    %} {% include analytics.html %} {% include footer.html %}
  </body>
</html>
