---
layout: default
---

<article class="article">
  {% if page.featured_image %}
    <header class="article__header grid lg:grid-cols-2">
      <div>
        <h1 class="article__title">{{ page.title }}</h1>
      </div>

      <div class="flex lg:justify-end">
        <img
          class="not-prose rounded-xl shadow-lg sm:max-h-64"
          src="{{ site.baseurl }}{{ page.featured_image }}"
          alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}"
        />
      </div>
    </header>
  {% else %}
    <header class="article__header">
      <h1 class="article__title">{{ page.title }}</h1>
    </header>
  {% endif %}
  <div class="container mx-auto">
    {{content}}
  </div>
</article>
