---
layout: default
---

<article class="line-numbers article" itemscope itemtype="https://schema.org/Article">
  <header class="article__header">
    <div class="article__meta">
      <time itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}" datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </div>

    <h1 class="pl-4 border-l-2 border-ruby-600" itemprop="headline">{{ page.title }}</h1>
  </header>

  <div>{{content}}</div>

  {% include tags_and_share.html %}

  <section class="md:flex md:items-center md:justify-between mt-10">

  </section>

  {% include disqus.html %}
</article>
