---
layout: default
---

<article class="line-numbers article">
  <header class="article__header">
    <h1 class="pl-4 border-l-4 border-ruby-600">{{ page.title }}</h1>
    <span class="article__meta">
      <time datetime="{{ page.date | date: " %Y-%m-%d" }}">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </span>
  </header>

  <div>{{content}}</div>

  {% include tags_and_share.html %}

  <section class="md:flex md:items-center md:justify-between mt-10">

  </section>

  {% include disqus.html %}
</article>
