.ml-0{
  margin-left: 0!important;
}
.mt-0{
  margin-top: 0!important;

}
.mb-0{
  margin-bottom: 0!important;
}
.mr-0{
  margin-bottom: 0!important;
}
.mt-50{
  margin-top: -50px!important;

}
.ml-150{
  margin-left: -150px!important;
}
.ml-120{
  margin-left: -120px!important;
}
.mt-40{
margin-top: -40px!important;
}

